
.logo {
  padding: 25px;
}

.title {
  padding-top: 6px;
  text-align: right;
}

.head {
  color: #747704;
  font-size: 54px;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.name {
  color: #747704;
  font-size: 22px;
  margin:0;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.item-img {
  width: 100%;
  height: 700px
}

.example {
  color: #bcbbbb;
  padding-left: 20px;
  font-size: 30px;
  font-weight: 300;
  text-transform: capitalize;s
}

.thumbnail {
  background-color: #eee;
}
img.dog-img {
  width: 466px;
  height: 200px;
  padding: 8px;
}

.dog-name {
  color: #747704;
  font-weight: bold;
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.item-warp {
  padding: 0;
}

.items {
  list-style-type: none;
  text-align: left;
}

.items-item {
  font-weight: bold;
}

@media screen and (min-width: 1200px) {
  .container {
      width: 960px;
  }
}

@media screen and (max-width:767px) {
    .logo {
        padding: 15px;
    }
    .head {
      color: #747704;
      font-size: 40px;
      font-weight: 200;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
    }

    .name {
      color: #747704;
      font-size: 18px;
      margin: 0;
      font-weight: bold;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
    }
}

@media screen and (max-width:566px) {
    .logo {
        width: 60%;
        padding: 15px;
    }
    .head {
      color: #747704;
      font-size: 33px;
      font-weight: 200;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
    }

    .name {
      color: #747704;
      font-size: 13px;
      margin: 0;
      font-weight: bold;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
    }
}

@media screen and (max-width:360px) {
    .logo {
        width: 50%;
        padding: 15px;
    }
    .head {
      color: #747704;
      font-size: 23px;
      font-weight: 200;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
    }

    .name {
      color: #747704;
      font-size: 10px;
      margin: 0;
      font-weight: bold;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
    }

    .title {
      padding-top: 2px;
      text-align: right;
    }
}
